extends ../layout/index 
block content 
    
    div.container.max-w-md.mx-auto.px-2

        h1.text-3xl.my-8.font-extrabold.text-center Truck 
            span.font-normal Management
        h2.text-center.text-2xl.font-extrabold.mb-5 #{title}

        if errors 
            div.max-w-md.mx-auto.my-10
                each error in errors 
                    p.bg-red-600.text-white.uppercase.text-xs.text-center.p-2.mb-1.font-bold=error.msg

        div.bg-white.rounded-md.px-8.py-5.border 
            form(class="space-y-5" action='/auth/register' method="post")
                
                input(type="hidden" name="_csrf" value=csrfToken)

                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="name") Name
                    input.block.border.border-grey-light.w-full.p-3.rounded(type='text' name='name' placeholder='Name' value=user?user.name:"")
                
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="email") Email
                    input.block.border.border-grey-light.w-full.py-3.px-5.rounded(type='email' name='email' placeholder='Email' value=user?user.email:"")
                
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="password") Password
                    input.block.border.border-grey-light.w-full.py-3.px-5.rounded(type='password' name='password' placeholder='Password')
                
                div 
                    label.block.text-sm.uppercase.text-gray-500.mb-2.font-bold(for="repeat_password") Confirm Password
                    input.block.border.border-grey-light.w-full.py-3.px-5.rounded(type='password' name='repeat_password' placeholder='Confirm Password')

                input.uppercase.bg-slate-900.cursor-pointer.rounded.py-2.px-3.text-white.font-bold.w-full(type="submit", value="Create Account")
                
                div.flex.items-center.justify-between
                    a.text-gray-700(href="/auth/login") Log In
                    a.text-gray-700(href='/auth/forgot-password') Forgot your password?